<div id="page-top" class="page-top">&nbsp;</div>

<!-- Submit Section -->
<section id="submit" class="section-product" ng-init="Redireccionar()">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    
                    <div ng-switch="status['generalView']">
                        <div ng-switch-when="loading">
                            <div style="height: 20vh">&nbsp;</div>
                            <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
                            <div style="height: 20vh">&nbsp;</div>
                        </div>
                        <div ng-switch-when="error">
                            <div style="height: 20vh">&nbsp;</div>
                            <p style="color: red">Oops... algo salio mal.</p>
                            <div style="height: 20vh">&nbsp;</div>
                        </div>
                        <div ng-switch-when="new">
                            
                            <h1>
                                <a href="" ui-sref="admin.home">Menu</a> |<a href="" ui-sref="admin.categories-centros_comerciales">Centros Comerciales</a> |<a href="" ui-sref="admin.BeneficiosCentrosComerciales({shopping:shopping})"> {{ shopping }} </a>
                            </h1>
                            
                        </div>
                        <div ng-switch-when="edit">
                            
                            <h1>
                                <a href="" ui-sref="admin.home">Menu</a> |<a href="" ui-sref="admin.categories-centros_comerciales">Centros Comerciales</a> | <a href="" ui-sref="admin.BeneficiosCentrosComerciales({shopping:shopping})">{{ shopping }}</a> | Editar Beneficio
                            </h1>
                            
                        </div>
                    </div>
                    
                    
                    <hr class="star-light">
                
            </div>
        </div>
        
    </div>
</section>
        
<section class="main-wrapper">
    <div class="container">
        <div ng-switch="status['editMode']">
            <div ng-switch-when="false">
                <h2>Agregar Nuevo Beneficio</h2>
            </div>
            <div ng-switch-when="true">
                <h2>Editar Beneficio</h2>
            </div>
        </div>
        
        <hr class="star-light">        
    </div>
</section>
<br><br>
        
        
<section class="main-wrapper">
    <div class="container">
        
        <h2>Detalles del beneficio</h2>
        
        <hr class="star-light">

        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border submit-bottom-border">
                
                <h5>Puntos</h5>
                <p id="error-message">{{submit.ErrorMessages['puntos']}}</p>
                <form name="myForm">
                    <input id="puntos"
                        ng-model="BeneficioMeta.puntos"
                        class="submit-box-generic submit-input-wide" type="number" value="" required>
                    
                    <h5>Descripcion</h5>
                    <p id="error-message">{{submit.ErrorMessages['beneficios']}}</p>
                    
                    <textarea id="beneficios"
                        ng-model="BeneficioMeta.beneficios"
                        class="submit-box-generic submit-input-wide" type="text" value="" required>
                    </textarea>
                </form>

            </div>
        
        </div>
    </div>
</section>

<section class="main-wrapper" id="submit0">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 submit-form-group submit-top-border submit-bottom-border text-center">
                
                <hr class="star-light">
                
                <div>
                    <p ng-show="myForm.$invalid" style="color: red !important">
                        Hay campos que deben ser completados!
                    </p>
                    <p class="text-positive" ng-show="status['submitLoading']">
                        Espere mientras cargamos la base de datos!
                    </p>
                    <hr class="star-light">
                </div>
                
                
                <div ng-switch="status['submitLoading']">
                    <div ng-switch-when="false">
                        <button ng-disabled="myForm.$invalid" class="btn-positive" ng-click="guardar()">
                            <span ng-switch="status['editMode']">
                                <span ng-switch-when="false">
                                    Guardar
                                </span>
                                <span ng-switch-when="true">
                                    Guardar Cambios
                                </span>
                            </span>
                        </button>
                    </div>
                    <div ng-switch-when="true">
                        <button class="btn-positive">
                            <img ng-src="css/rolling.svg" id="loading-img">
                        </button>
                    </div>
                </div>

                
            </div>
        </div>
        
    </div>
</section>

<canvas id="canvas0" style="display: none !important;"></canvas>
<canvas id="canvas1" style="display: none !important;"></canvas>
<canvas id="canvas2" style="display: none !important;"></canvas>
<canvas id="canvas3" style="display: none !important;"></canvas>
<canvas id="canvas4" style="display: none !important;"></canvas>
<canvas id="canvas5" style="display: none !important;"></canvas>
<canvas id="canvas9" style="display: none !important;"></canvas>
