<!-- Navigation -->
    <nav class="navbar navbar-fixed-top" ng-init="checkAuth()">
        <div class="container">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <!-- 
                Optional for mobile devices
                    <button type="button" class="navbar-toggle btn-clear" 
                        ng-click="navbar.scrollToSitemap()">
                          <i class="fa fa-bars" 
                            style="font-size: 20px !important; margin-top: 3px;">
                          </i>
                    </button>
                -->
                
                <a class="navbar-brand" href="" ng-click="navbar.goTo('admin.home')">
                    <span class="logo"><img src="img/1024.png" style="width: 40px"></span>
                </a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right navbar-brand">
                    
                    <!-- 
                        Optional: navbar profile image
                        <li class="page-scroll navbar-profile">
                            <a href="" ng-click="navbar.goTo('admin.home')" id="account-img">
                                <img ng-src="{{navbar.AuthData.github.profileImageURL || navbar.randomImageUrl}}" alt="Noodl.io">
                            </a>
                        </li>
                    -->
                    <a ng-show="!navbar.statusOb.loading && !navbar.statusObj.loggedIn" href="" ng-click="navbar.goTo('admin.login');">
                        Ingresar
                    </a>
                    <a ng-show="!navbar.statusOb.loading && navbar.statusObj.loggedIn" href="" ng-click="navbar.unAuth();">
                        Salir
                    </a>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav >


<!-- Angular ui-router -->
    <div ui-view></div>


<!-- Footer -->
    <footer class="text-center" id="contact">
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">
                        
                        Sistema desarrollado por
                        <a href="http://www.tecnodesign.com.py" target="_blank"><img src="img/TD.png" width="100px"></a>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </footer>