

<section id="home" class="">
        
        <!--Container-->
        <div class="pad-zero">
            
            <!--Splitlayout -->
            <div id="splitlayout" class="splitlayout reset-layout">
                
                <!--Intro-->
                <div class="intro">
                
                    <!--Left Content Intro-->
                    <div class="side side-left">
                        
                            <!--parallax-img-->
                            <img id="parallax_it" height="70%" src="/css/cs/img/floatingimg.png" data-parallaxify-range-x="10" data-parallaxify-range-y="10" alt="paraimg"/>
                            <!--/parallax-img-->
                            
                        <!--left overlay-->
                        <div class="side-left-overlay"></div>
                        <!--/left overlay-->
                    
                    </div>
                    <!--/Left Content Intro-->
                    
                    <!--Right Content Intro-->
                    <div class="side side-right">
                        
                        <div class="col-xs-12 align-center sec-pad-left sec-pad-right padding-top-lg-50  padding-top-md-50 padding-top-xs-40 main-content">
                            
                            <!--Logo-->
                            <header class="logo text-center padding-top-lg-100  padding-top-md-75 padding-top-xs-40">
                                <img width="30%" src="img/dezling-color.png" alt="logo">
                            </header>
                            <!--/Logo-->
                            
                            <!--main content-->
                            <section class="intro-text">
                                <p class="col-lg-12 col-sm-12 pad-zero">Dezling “The online shopping tour” es una aplicación que permite encontrar de manera rápida y sencilla la información centralizada sobre tiendas, locales gastronómicos, shoppings, multimarcas y supermercados favoritos a nivel país</p>
                                <div class="clearfix"></div>
                                <hr>
                                <p><a href="mailto:info@dezling.com" style="color:#fff !important">info@dezling.com</a></p>             
                                <div class="clearfix"></div>
                                
                            </section>
                            <!--/main content-->
                            
                        </div>
                        
                            <div class="container-fluid pad-zero social-wrpper">
                                                            
                                <!--Footer-->
                                <footer class="copyright-text margin-sm-30 margin-top-xs-0">
                                    
                                    <!--Social Icons-->
                                    <ul class="social-icons animated">
                                        <li>
                                            <a href="#" class="social-icon">
                                                <span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon">
                                                <span class="fa" data-hover="&#xf099;">&#xf099;</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon">
                                                <span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--/Social Icons-->
                                    
                                    <p>Desarrollado por <a href="http://www.tecnodesign.com.py" target="_blank"><img src="img/TDwhite.png" width="100px"></a></p>
                                    
                                </footer>
                                <!--/Footer-->
                                
                            </div>  
                                
                        <!--right overlay-->
                        <div class="side-right-overlay"></div>
                        <!--/right overlay-->
                        
                    </div>
                    <!--/Right Content Intro-->
                    
                </div>
                <!--/Intro-->
                
            </div>
            <!-- /Splitlayout -->
            
                        
                            <!--About Sec-->
                            <section class="container-fluid align-center text-left animated sec-pad-top about-sec">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="about-icon-wrap">
                                        	<figure class="snip1519">
											  <figcaption><i class="ion-ios-rose-outline"></i>
											    <h3>Marketing</h3>
											    <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p><a href="#" class="button">Read More</a>
											  </figcaption>
											</figure>
											<figure class="snip1519">
											  <figcaption><i class="ion-ios-paw-outline"></i>
											    <h3>Web Design</h3>
											    <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p><a href="#" class="button">Read More</a>
											  </figcaption>
											</figure>
											<figure class="snip1519">
											  <figcaption><i class="ion-ios-flame-outline"></i>
											    <h3>Data Encryption</h3>
											    <p>The only skills I have the patience to learn are those that have no real application in life. </p><a href="#" class="button">Read More</a>
											  </figcaption>
											</figure>  
                                        </div>  
                                    </div>  
                                </div>
                            </section>
                            <!--/About Sec-->
        
        </div>
        <!-- /Container -->
</section>
