<div id="page-top" class="page-top">&nbsp;</div> <!-- used for anchorscroll -->

<section id="home" class="section-product" ng-init="initView()">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">               
                <h1>
                    <a href="" ui-sref="admin.home">Menu</a> |<a href="" ui-sref="admin.categories-supermercados">Supermercados</a> | {{ shopping }}
                </h1>
                <p>&nbsp;</p>
                <p>
                    <a href="" ui-sref="admin.SubmitBeneficiosSupermercados({shopping: shopping})">+ Agregar Beneficio</a>
                </p>
            </div>
        </div>
        <hr class="star-light">
        <div class="row" ng-show="categories.statusObj.loading">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
            </div>
        </div> 
    </div>
</section>

<section ng-show="!categories.statusObj.loading">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>Beneficios</h1>
            </div>
        </div>
        <div class="row row-item card-1"  ng-repeat="(key, categoryObj) in beneficios">
            <div class="col-sm-5  text-left center-small-screen">
                <p class="small">
                    <strong style="text-transform: uppercase;">{{categoryObj.puntos}} Puntos</strong>
                    <span><br>{{categoryObj.beneficios}}</span>
                </p>
            </div>
            <div class="col-sm-7  text-right center-small-screen">
                <p>
                    <button class="btn-red-outline active" ng-click="EliminarBeneficio(key)">
                        Eliminar
                    </button>
                    <button disabled class="btn-grey-outline active" ng-click="categories.locales(key)">
                        Estadisticas
                    </button>
                    <button class="btn-random-outline" ui-sref="admin.SubmitBeneficiosSupermercados({shopping: shopping,beneficio: key})">
                        Editar
                    </button>
                </p>
            </div>                
        </div>
    </div>
</section>