<div id="page-top" class="page-top">&nbsp;</div> <!-- used for anchorscroll -->

<section id="home" class="section-product" ng-init="categories.initView()">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                
                
                <h1>
                    <a href="" ng-click="categories.goTo('admin.home')">Menu</a> | Centros Comerciales
                </h1>
                <p>&nbsp;</p>
                <p>
                    <a href="" ng-click="categories.nuevo()">+ Agregar Comercio</a>
                </p>
                <p id="warning" ng-show="categories.statusObj.generalmessage">
                    {{categories.statusObj.generalmessage}}
                </p>
      
            </div>
        </div>
        
        <hr class="star-light">
        
        <!-- spinner - can be rewritten to ng-switch to avoid flickering -->
        <div class="row" ng-show="categories.statusObj.loading">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
            </div>
        </div>  <!-- ./ spinner -->
        
        
        
    </div>
</section>


<section ng-show="!categories.statusObj.loading">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>Listado de Comercios</h1>
            </div>
        </div>
        

            <div class="row row-item card-1"  ng-repeat="(key, categoryObj) in categories.CategoriesForm">
                
                <item-cols></item-cols>
                
            </div>
        
    </div>
</section>