<div id="page-top" class="page-top">&nbsp;</div>

<!-- Submit Section -->
<section id="submit" class="section-product" ng-init="submit.initView()">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    
                    <div ng-switch="submit.status['generalView']">
                        <div ng-switch-when="loading">
                            <div style="height: 20vh">&nbsp;</div>
                            <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
                            <div style="height: 20vh">&nbsp;</div>
                        </div>
                        <div ng-switch-when="error">
                            <div style="height: 20vh">&nbsp;</div>
                            <p style="color: red">Oops... algo salio mal.</p>
                            <div style="height: 20vh">&nbsp;</div>
                        </div>
                        <div ng-switch-when="new">
                            
                            <h1>
                                <a href="" ng-click="submit.goTo('admin.home')">Menu</a> |<a href="" ng-click="submit.goTo('admin.categories-centros_comerciales')">Centros Comerciales</a> | Nuevo
                            </h1>
                            
                        </div>
                        <div ng-switch-when="edit">
                            
                            <h1>
                                <a href="" ng-click="submit.goTo('admin.home')">Menu</a> |<a href="" ng-click="submit.goTo('admin.categories-centros_comerciales')">Centros Comerciales</a> | Editar {{submit.ProductMeta.perfil.nombre }}
                            </h1>
                            
                        </div>
                    </div>
                    <hr class="star-light">
            </div>
        </div>
        
    </div>
</section>
        
<section class="main-wrapper">
    <div class="container">
        <div ng-switch="submit.status['generalView']">
            <div ng-switch-when="new">
                <h2>Agregar Nuevo Comercio</h2>
            </div>
            <div ng-switch-when="edit">
                <h2>Editar Comercio</h2>
            </div>
        </div>
        
        <hr class="star-light">        
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Nombre del Comercio</h5>
                <p id="error-message">{{submit.ErrorMessages['nombre']}}</p>
                
                <input id="nombre"
                    ng-model="submit.ProductMeta.perfil.nombre"
                    class="submit-box-generic submit-input-wide" type="text" 
                    placeholder="Ej.: Shopping del Sol" value="">
                
            </div>
        </div>        
        
        <div ng-switch="submit.status['generalView']">
            <div ng-switch-when="new">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                        <h5>Slug</h5>
                        <p>De esta manera se va a identificar a cada comercio, el slug es unico para cada comercio.</p>
                        <p id="error-message">{{submit.ErrorMessages['slug']}}</p>
                        
                        <input  id="slug"
                            ng-model="submit.ProductMeta.slug"
                            class="submit-box-generic submit-input-wide" type="text" 
                            placeholder="Ej.: shopping-del-sol" value="">
                        
                    </div>
                </div> 
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Email</h5>
                <p id="error-message">{{submit.ErrorMessages['email']}}</p>
                
                <input  id="email"
                    ng-model="submit.ProductMeta.perfil.email"
                    class="submit-box-generic submit-input-wide" type="email" value="">
                
            </div>
        </div>  
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Numero de Telefono</h5>
                <p id="error-message">{{submit.ErrorMessages['telefono']}}</p>
                
                <input  id="telefono"
                    ng-model="submit.ProductMeta.perfil.numero_telefono"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Direccion</h5>
                <p id="error-message">{{submit.ErrorMessages['direccion']}}</p>
                
                <input  id="direccion"
                    ng-model="submit.ProductMeta.perfil.direccion"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
                <h5>Ciudad</h5>
                <p id="error-message">{{submit.ErrorMessages['ciudad']}}</p>
                
                <input  id="ciudad"
                    ng-model="submit.ProductMeta.perfil.ciudad"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
                <h5>País</h5>
                <p id="error-message">{{submit.ErrorMessages['pais']}}</p>
                
                <input  id="pais"
                    ng-model="submit.ProductMeta.perfil.pais"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Descripcion (opcional)</h5>
                <p id="error-message">{{submit.ErrorMessages['description']}}</p>
                
                <textarea 
                    ng-model="submit.ProductMeta.perfil.descripcion"
                    rows="6" 
                    class="submit-box-generic submit-input-wide" 
                    placeholder="Opcional"></textarea>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                
                <h5>Etiquetas</h5>
                <p id="error-message">{{submit.ErrorMessages['telefono']}}</p>
                
                <input placeholder="Separados por comas. Ej: zapatos, ropas, accesorios" id="telefono"
                    ng-model="submit.ProductMeta.perfil.tags"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 submit-form-group">
                <p id="error-message">{{submit.ErrorMessages['description']}}</p>
                
                <input type="checkbox" 
                    ng-model="submit.ProductMeta.perfil.online"
                    class="submit-box-generic submit-input-wide"> Online <br>
                
                <input type="checkbox" 
                    ng-model="submit.ProductMeta.perfil.destacado"
                    class="submit-box-generic submit-input-wide"> Banner Perfil<br>
                
                <input type="checkbox" 
                    ng-model="submit.ProductMeta.perfil.puntos"
                    class="submit-box-generic submit-input-wide"> Sistema de Puntos
                
            </div>
        </div>
    </div>
</section>
        
        <hr class="star-light">
        
<section class="main-wrapper">
    <div class="container">
        
        <h2>Horario</h2>
        
        <hr class="star-light">

        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border submit-bottom-border">
                
                <h5>Horario de Atencion</h5>
                <p id="error-message">{{submit.ErrorMessages['horarios']}}</p>
                
                <textarea 
                    ng-model="submit.ProductMeta.perfil.horario"
                    rows="6" 
                    class="submit-box-generic submit-input-wide" 
                    ></textarea>
            </div>
        
        </div>
    </div>
</section>
        
<section class="main-wrapper">
    <div class="container">
        
        <h2>Ubicacion</h2>
        
        <hr class="star-light">

        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border submit-bottom-border">
                
                <h5>Latitud</h5>
                <p id="error-message">{{submit.ErrorMessages['latitud']}}</p>
                
                <input id="mapa.latitud"
                    ng-model="submit.ProductMeta.perfil.mapa.latitud"
                    class="submit-box-generic submit-input-wide" type="text" value="">
                
                <h5>Longitud</h5>
                <p id="error-message">{{submit.ErrorMessages['longitud']}}</p>
                
                <input id="mapa.longitud"
                    ng-model="submit.ProductMeta.perfil.mapa.longitud"
                    class="submit-box-generic submit-input-wide" type="text" value="">

                <br><br>
                <leaflet lf-center="london" event-broadcast="events" markers="markers" layers="layers" scrollWheelZoom="false"  height="480px" width="100%"></leaflet>
            </div>
        
        </div>
    </div>
</section>
        
<section class="main-wrapper" ng-show="submit.status['generalView'] == 'edit' ">
    <div class="container">
        
        <h2>Imagenes</h2>
        <p>Las imagenes se reemplazan automaticamente, no es necesario guardar el formulario.</p>
        
        <hr class="star-light">

        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border submit-bottom-border">
                
                <center><h5>Foto de Perfil</h5></center>
                <p>Logotipo de la empresa</p>
                <p id="error-message">{{submit.ErrorMessages['screenshots']}}</p>
                        
                    <input id="imagen"
                        type="file" 
                        ng-model="avatar" 
                        name="avatar" 
                        base-sixty-four-input 
                        required 
                        onload="submit.avatar" 
                        maxsize="10000" 
                        accept="image/*" multiple="false">
                
                <div class="images-row" style="margin-top: 15px">
                    <div class="center">
                        <img id="avatarURL" class="not-opened"><br>
                        <a href="" ng-click="submit.EliminarImagen('avatar')">Quitar Imagen </a>
                    </div>
                </div>
                <p>Icono de la empresa</p>
                <p id="error-message">{{submit.ErrorMessages['screenshots']}}</p>
                        
                    <input id="imagen"
                        type="file" 
                        ng-model="icono" 
                        name="icono" 
                        base-sixty-four-input 
                        required 
                        onload="submit.icono" 
                        maxsize="10000" 
                        accept="image/*" multiple="false">
                
                <div class="images-row" style="margin-top: 15px">
                    <div class="center">
                        <img id="iconoURL" class="not-opened"><br>
                        <a href="" ng-click="submit.EliminarImagen('icono')">Quitar Imagen </a>
                    </div>
                </div>

            </div>
        
        </div>

        <div ng-show="submit.ProductMeta.perfil.destacado">
            <hr class="star-light">

            <div class="row">
                
                <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border ">
                    
                    <center><h5>BANNERS PERFIL</h5></center>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Banner 1</p>
                            <p id="error-message">{{submit.ErrorMessages['banner1']}}</p>

                            <form name="form9" class="submit-box-generic-blank">
                                    
                                <input id="imagen.destacado.banner1"
                                    type="file" 
                                    ng-model="destacado.banner1" 
                                    name="destacado.banner1" 
                                    base-sixty-four-input 
                                    required 
                                    onload="submit.banner1" 
                                    maxsize="10000" 
                                    accept="image/*" multiple="false">
                
                                <div class="images-row" style="margin-top: 15px">
                                    <div class="center">
                                        <img width="100%" style="max-width: 400px;" id="banner1URL" class="not-opened"><br>
                                        <a href="" ng-click="submit.EliminarImagen('banner1')">Quitar Imagen </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-6">
                            <p>Banner 2</p>
                            <p id="error-message">{{submit.ErrorMessages['banner2']}}</p>

                            <form name="form9" class="submit-box-generic-blank">
                                    
                                <input id="imagen.destacado.banner2"
                                    type="file" 
                                    ng-model="destacado.banner2" 
                                    name="destacado.banner2" 
                                    base-sixty-four-input 
                                    required 
                                    onload="submit.banner2" 
                                    maxsize="10000" 
                                    accept="image/*" multiple="false">
                
                                <div class="images-row" style="margin-top: 15px">
                                    <div class="center">
                                        <img width="100%" style="max-width: 400px;" id="banner2URL" class="not-opened"><br>
                                        <a href="" ng-click="submit.EliminarImagen('banner2')">Quitar Imagen </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <p>Banner 3</p>
                            <p id="error-message">{{submit.ErrorMessages['banner3']}}</p>

                            <form name="form9" class="submit-box-generic-blank">
                                    
                                <input id="imagen.destacado.banner3"
                                    type="file" 
                                    ng-model="destacado.banner3" 
                                    name="destacado.banner3" 
                                    base-sixty-four-input 
                                    required 
                                    onload="submit.banner3" 
                                    maxsize="10000" 
                                    accept="image/*" multiple="false">
                
                                <div class="images-row" style="margin-top: 15px">
                                    <div class="center">
                                        <img width="100%" style="max-width: 400px;" id="banner3URL" class="not-opened"><br>
                                        <a href="" ng-click="submit.EliminarImagen('banner3')">Quitar Imagen </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>

            <div class="row">
                
                <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-top-border ">
                    
                    <center><h5>MAPA DEL COMPLEJO (.svg)</h5></center>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="error-message">{{submit.ErrorMessages['mapa_complejo']}}</p>

                            <form name="form9" class="submit-box-generic-blank">
                                    
                                <input id="imagen.destacado.mapa_complejo"
                                    type="file" 
                                    ng-model="destacado.mapa_complejo" 
                                    name="destacado.mapa_complejo" 
                                    base-sixty-four-input 
                                    required 
                                    onload="submit.mapa_complejo" 
                                    maxsize="10000" 
                                    accept="image/*" multiple="false">
                
                                <div class="images-row" style="margin-top: 15px">
                                    <div class="center">
                                        <img width="100%" style="max-width: 400px;" id="mapa_complejoURL" class="not-opened"><br>
                                        <!--<a href="" ng-click="submit.removeScreenshot(key)">Quitar Imagen </a>-->
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            
            </div>
        
        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1 submit-form-group submit-bottom-border">
                
                <p ng-show="submit.status['loadingScreenshots']">
                    Cargando Imagenes...
                </p>
                
            </div>
        
        </div>
        
        
    </div>
</section>
        
<hr class="star-light">

<section class="main-wrapper" id="submit0" ng-show="submit.status['generalView'] == 'new' || submit.status['generalView'] == 'edit'">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 submit-form-group submit-top-border submit-bottom-border text-center">
                
                <hr class="star-light">
                
                <div ng-switch="submit.status['containsNoError']">
                    <p ng-switch-when="false" style="color: red !important">
                        {{submit.ErrorMessages['general']}}
                    </p>
                    <p ng-switch-when="true" class="text-positive" ng-show="submit.status['submitLoading']">
                        Espere mientras cargamos la base de datos!
                    </p>
                    <hr class="star-light">
                </div>
                
                
                
                <div ng-switch="submit.status['submitLoading']">
                    <div ng-switch-when="false">
                        <button class="btn-positive" ng-click="submit.submitForm()">
                            <span ng-switch="submit.status['generalView']">
                                <span ng-switch-when="new">
                                    Guardar
                                </span>
                                <span ng-switch-when="edit">
                                    Guardar Cambios
                                </span>
                            </span>
                        </button>
                    </div>
                    <div ng-switch-when="true">
                        <button class="btn-positive">
                            <img ng-src="css/rolling.svg" id="loading-img">
                        </button>
                    </div>
                </div>

                
            </div>
        </div>
        
    </div>
</section>

<section class="main-wrapper" ng-show="submit.status['generalView'] == 'edit'">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 submit-form-group submit-top-border submit-bottom-border text-center">
                    
                <center><h5>Eliminar Shopping</h5></center>
                <center>
                    <button class="btn-red-outline active" ng-click="submit.Eliminar('centros_comerciales',slug)">
                        Eliminar
                    </button>
                </center>
            </div>
        </div>
    </div>
</section>

<canvas id="canvas0" style="display: none !important;"></canvas>
<canvas id="canvas1" style="display: none !important;"></canvas>
<canvas id="canvas2" style="display: none !important;"></canvas>
<canvas id="canvas3" style="display: none !important;"></canvas>
<canvas id="canvas4" style="display: none !important;"></canvas>
<canvas id="canvas5" style="display: none !important;"></canvas>
<canvas id="canvas9" style="display: none !important;"></canvas>
