<style type="text/css">
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>


<link rel="stylesheet" type="text/css" href="/css/libs/bootstrap-table/bootstrap-table.min.css"> <!-- Original -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap-table/bootstrap-table.min.css"> <!-- Customization -->
<div id="page-top" class="page-top">&nbsp;</div> <!-- used for anchorscroll -->

<section id="home" class="section-product" ng-init="initView()">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>
                    <a href="" ui-sref="admin.home">Menu</a> | Reportes
                </h1>
            </div>
        </div>
        
        
        
        <!-- spinner - can be rewritten to ng-switch to avoid flickering -->
        <div class="row" ng-show="loading">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><img ng-src="css/loading.svg" id="loading-img-large"></p>
            </div>
        </div>  <!-- ./ spinner -->

        <hr>

        <div class="row">
          <div class="col-md-3 text-center">
            <button
                ui-sref="#"
                class="btn-choice">
                Banner Sponsor
            </button>
          </div>
          <div class="col-md-3 text-center">
            <button
                ui-sref="#"
                class="btn-choice">
                Banner Destacado
            </button>
          </div>
          <div class="col-md-3 text-center">
            <button
                ui-sref="#"
                class="btn-choice">
                Tiendas Favoritas
            </button>
          </div>
          <div class="col-md-3 text-center">
            <button
                ui-sref="#"
                class="btn-choice">
                Promociones
            </button>
          </div>
        </div>
            <div class="row">
              <div class="col-md-offset-9 col-md-3">
                <select class="form-control input-lg pull-right" ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Mostrar '+size) for size in pageSizes"></select>
              </div>
            </div>
            <br>
            
            <table class="table table-striped table-hover">
              <tbody><tr>
                <th style="text-align: center;" class="id"><a ng-click="sort_by('id')">Nombre <i class="fa fa-sort"></i></a></th>
                <th style="text-align: center;" class="name"><a ng-click="sort_by('name')">Categoria <i class="fa fa-sort"></i></a></th>
                <th style="text-align: center;" class="description"><a ng-click="sort_by('name')">Online <i class="fa fa-sort"></i></a></th>
                <th style="text-align: center;" class="field3"><a ng-click="sort_by('field3')">Puntos <i class="fa fa-sort"></i></a></th>
                <th style="text-align: center;" class="field4"><a ng-click="sort_by('field4')">Destacado<i class="fa fa-sort"></i></a></th>
                <th style="text-align: center;" class="visitas"><a ng-click="sort_by('estadisticas.visitas')">Visitas<i class="fa fa-sort"></i></a></th>
              </tr>
              </tbody>
              <tfoot>
                <tr><td colspan="9">{{sizes}}
                  <div class="text-center">
                    <ul class="pagination">
                      <li ng-class="{disabled: currentPage == 0}">
                        <a href="javascript:;" ng-click="prevPage()">« Anterior</a>
                      </li>
                      <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                        <a href="javascript:;" ng-bind="n + 1">1</a>
                      </li>
                      <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href="javascript:;" ng-click="nextPage()">Siguiente »</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr></tfoot>
              <tbody>
                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                  <td>{{item.perfil.nombre}}</td>
                  <td>{{item.categoria}}</td>
                  <td><i ng-show="item.perfil.online == 'true' || item.perfil.online == true" style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i><i ng-show="item.perfil.online =='false' || item.perfil.online == false" style="color: red;" class="fa fa-times-circle" aria-hidden="true"></i></td>
                  <td><i ng-show="item.perfil.puntos == 'true' || item.perfil.puntos == true" style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i><i ng-show="item.perfil.puntos =='false' || item.perfil.puntos == false" style="color: red;" class="fa fa-times-circle" aria-hidden="true"></i></td>
                  <td><i ng-show="item.perfil.destacado == 'true' || item.perfil.destacado == true" style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i><i ng-show="item.perfil.destacado =='false' || item.perfil.destacado == false" style="color: red;" class="fa fa-times-circle" aria-hidden="true"></i></td>
                  <td>{{item.estadisticas.visitas}}</td>
                </tr>
              </tbody>
            </table>

        
    </div>
</section>



